.sidebar {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #0003;
    background-color: #f4f4f4;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.collapsable {
    display: flex;
}

.fixed {
    display: none;
}

@media screen and (min-width: 800px) {
    .fixed {
        display: flex;
    }

    .collapsable {
        display: none;
    }
}

.sideBarLink {
    height: 35px;
    text-align: center;
    align-content: center;
    border-radius: 17.5px;
}