.sidebar {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #0003;
    background-color: #f4f4f4;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.sideBarLink {
    height: 35px;
    text-align: center;
    align-content: center;
    border-radius: 17.5px;
}

@media screen and (min-width: 800px) {
    .sidebar {
        flex-direction: column;
        row-gap: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}