.orderInformation {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    * {
        flex: 1;
    }
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .orderInformation {
        flex-direction: row;
    }
}