.wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 180px;
}

.cardContainer {
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: row;

    * {
        flex: 1;
    }
}