

  /* Style the form container */
  .form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    @media (min-width: 400px) {
      width: 400px;
    }
  }
  
  /* Style form elements (label and input/select) */
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type="text"],
  .form input[type="number"],
  .form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the submit button */
  .form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
