.wrapper {
    outline: none;
    text-decoration: none;

    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: inherit;
      outline: none;
      text-decoration: none;
      background-color: #e7e8f1;
    }
}

.active {
    background-color: #e7e8f1;
}