.table tbody {
    overflow-y: auto;
}

.table,
thead,
tbody,
tfoot {
    display: flex;
    flex-direction: column;
}

.table tr {
    display: flex;
    flex: 1 0;
}

.table thead tr th {
    background-color: #007BFF;
    color: white;
    height: 30px;
    line-height: 30px;
}

.table thead tr th,
.table tbody tr td {
    padding: 10px;
    text-align: left;
    align-content: center;
    flex: 1;
    border: 1px solid #ccc;
}

.actions {
    width: 100px;
}