.item {
  outline: none;
  text-decoration: none;

  &:focus,
  &:visited,
  &:active,
  &:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
  }
}

.active {
  background-color: #e7e8f1;
  color: #062a67;
  font-weight: 500;
}