.wrapper {
    display: flex;
    padding: 5px;
}

.wrapper>* {
    flex: 1;
}

.wrapper:nth-child(even) {
    background-color: #d6d6d6;
}

.wrapper:nth-child(odd) {
    background-color: #e7e7e7;
}

.info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
}