.sidebarItem {
  align-items: center;
  border-radius: 17.5px;
  color: #353535;
  display: flex;
  height: 30px;
  margin: 15px 5px 15px 5px;
  width: auto;
  outline: none;

  &:hover {
    background-color: #e7e8f1;
    color: #062a67;
  }
  @media (min-width: 768px) {
    margin: 15px 25px 15px 25px;
  }
}

.text {
  font-size: 15px;
  line-height: 1;
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}

.icon {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
