.sidebarItem {
  align-items: center;
  border-radius: 17.5px;
  color: #353535;
  display: flex;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  outline: none;

  &:hover {
    background-color: #e7e8f1;
    color: #062a67;
  }
}

.text {
  font-size: 15px;
  line-height: 1;
}

.icon {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
